<p>
  <br></br>
<%= form_for user,:url => {:action => "change_password"} do |f| %>
  <table>
    <tr>
      <td>Old password :</td><td> <%= password_field_tag :old_password %></td>
    </tr>
    <tr>
      <td> New password : </td><td><%= password_field_tag :new_password %></td>
    </tr>
    <tr>
      <td>Confirm Password : </td><td><%= f.password_field :password ,:value => ""%></td>
    </tr>
    <tr>
      <td></td>

      <td>  <%=f.submit "Change Password"%></td>
    </tr>
  </table>
      <%  end %>
</p>