<div id="content">
  <div id="chat">

    <% @chats.each do |chat| %>
    <p/>
       <%if chat.username == current_user.name%>
      <b><font color="blue"><%=  chat.username %></b></font> <%= chat.chat%>
      <%else%>
      <b><font color="red"><%=  chat.username %></b></font> <%= chat.chat%>
      <%end%>
    <%end%>

  </div>
  <p/>
  <%= form_for @chat ,:remote => true   do |f|   %>
  <%= f.hidden_field :username , :value => current_user.name  %>
  <%= f.text_area :chat ,:rows =>3 %>
  <%= f.submit "Send" %>
  
  <%  end %>
  
</div>

